name: Nuget Publish Pipeline

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Pack
      run: dotnet pack -o packages --configuration Release
    - name: Push
      run: dotnet nuget push 'packages/*.symbols.nupkg' --source ${{secrets.NUGET_SOURCE}} --api-key ${{secrets.NUGET_KEY}} --skip-duplicate
      #continue-on-error: true
